<h2>Sign In</h2>

<form action="/admin" method="post">
  <label for="username">Username</label>
  <input
    type="text"
    placeholder="Enter Username"
    id="username"
    name="username"
  />
  <label for="password">Password</label>
  <input
    type="password"
    placeholder="Enter Password"
    id="password"
    name="password"
  />
  <input type="submit" value="Login" class="btn" />
</form>

<h2>Register</h2>

<form action="/register" method="post">
  <label for="username">Username</label>
  <input
    type="text"
    placeholder="Enter Username"
    id="username"
    name="username"
  />
  <label for="password">Password</label>
  <input
    type="password"
    placeholder="Enter Password"
    id="password"
    name="password"
  />
  <input type="submit" value="Register" class="btn" />
</form>
