<header class="header">
  <div class="admin-logo-container">
    <a href="/" id="admin-logo">Admin Panel</a>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a href="/" id="home">Home</a>
      </li>
      <li>
        <a href="/about" id="about">About</a>
      </li>
      <li>
        <a href="/contact" id="contact">Contact</a>
      </li>
    </ul>
  </nav>
  <a href="/logout">
    <button id="logout" class="searchBtn">Logout</button>
  </a>
</header>
