<div class="searchBar">
  <form action="/search" method="POST" class="searchForm">
    <input
      type="text"
      id="searchInput"
      name="searchTerm"
      placeholder="Search the site..."
    />
  </form>
  <button id="closeBtn">Close</button>
</div>
