<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include("../partials/header_admin.ejs") %>
      <main class="main_admin"><%- body %></main>
      <%- include("../partials/footer.ejs") %>
    </div>
    <script src="/js/admin-script.js"></script>
  </body>
</html>
