<section class="about">
  <div class="about_website">
    <h2>About Website</h2>
    <p>
      Welcome to Rajat Gupta's Personal Blog, a captivating online spacecrafted
      with Node.js, Express.js, and EJS, complemented by a robustMongoDB
      database. This dynamic platform serves as a digital havenwhere Rajat Gupta
      shares his thoughts, experiences, and insights on amyriad of topics close
      to the heart. With the seamless synergy ofNode.js and Express.js, the
      website ensures swift and responsivenavigation, providing an immersive
      user experience. The elegant front-end, powered by EJS, enhances visual
      appeal while maintainingsimplicity, making it a pleasure to explore the
      content. Behind thescenes, MongoDB serves as the reliable database,
      storing andretrieving data effortlessly. This personalized blog is not
      just a website;it's a reflection of Rajat's journey and a welcoming space
      for readers toconnect, engage, and be inspired.
    </p>
  </div>
  <div class="about_developer">
    <h2>About Developer</h2>
    <div class="dev_profile">
      <img src="/images/img.jpg" alt="Developer Profile Picture" />
      <span>Rajat Gupta</span>
    </div>
    <p>
      This Website is developed by Rajat Gupta. A BCA student in SIU,Pune.To
      know more about developer you can see his
      <a href="#" target="_blank" rel="noopener noreferrer" id="portfolio"
        >portfolio website</a
      >.
    </p>
  </div>
</section>
