<section class="articles" id="contact_links">
  <h2>Contact Links</h2>
  <ul class="article-ul">
    <a
      href="https://github.com/NightShift0607"
      target="_blank"
      rel="noopener noreferrer"
    >
      <li>
        <span class="title">GitHub</span>
        <span class="date">GitHub</span>
      </li>
    </a>
    <a
      href="https://www.linkedin.com/in/rajat-gupta0607/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <li>
        <span class="title">Linkedin</span>
        <span class="date">Linkedin</span>
      </li>
    </a>
    <a
      href="mailto:rajatgupta0607@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <li>
        <span class="title">Email</span>
        <span class="date">Email</span>
      </li>
    </a>
    <a
      href="https://github.com/NightShift0607/Personal-Blog-Website"
      target="_blank"
      rel="noopener noreferrer"
    >
      <li>
        <span class="title">Source Code of this Website</span>
        <span class="date">Code</span>
      </li>
    </a>
  </ul>
</section>
