<style>
  #home {
    color: #da2d25;
  }
</style>
<div class="author">
  <h1>Hi, I'm Rajat</h1>
  <p>And this is my Blog Website</p>
</div>
<div class="mainImg">
  <img
    src="/images/blog_img.jpg"
    alt="Blog Image"
    height="200px"
    width="400px"
  />
</div>
<section class="articles">
  <h2>Latest Posts</h2>
  <ul class="article-ul">
    <% data.forEach(article => { %>
    <a href="/article/<%= article.art_id %>">
      <li>
        <span class="title"><%= article.title %></span>
        <span class="date"><%= article.createdat %></span>
      </li>
    </a>
    <% }) %>
  </ul>
  <a href="#" class="pagination">View Older Posts &#10148;</a>
</section>
