<div class="author">
  <h1>Hi, I'm Rajat</h1>
  <p>And this is my Blog Website</p>
</div>
<img src="/images/blog_img.jpg" alt="Blog Image" height="200px" width="400px" />
<section class="articles">
  <h2>Latest Posts</h2>
  <ul class="article-ul">
    <a href="#">
      <li>
        <span class="title">Title</span>
        <span class="date">Date</span>
      </li>
    </a>
  </ul>
  <a href="#" class="pagination">View Older Posts &#10148;</a>
</section>
