@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #fbddc0;
  --primary-text-color: #10275e;
  --secondary-text-color: #da2d25;
  --light-red: #f66666;
  --line-color: #d19999;
  --white: #fff;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  width: 100%;
  font-size: var(--font-size-base);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 10px 10px;
  position: relative;
}

.main {
  padding: 20px 0;
}

/* Header */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}

header .img {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .img img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

header .img img:hover {
  content: url("/images/logo2.png");
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 0 20px;
  font-weight: 700;
  width: 80%;
}

.navbar li a:hover {
  color: var(--secondary-text-color);
}

.searchBtn {
  width: 10%;
  display: flex;
  align-items: center;
  width: 92px;
  justify-content: space-evenly;
  font-size: 1.4rem;
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  color: var(--primary-text-color);
}

.searchBtn svg {
  height: 20px;
}

.searchBtn:hover {
  color: var(--secondary-text-color);
}

.searchBtn:hover svg {
  filter: invert(40%) sepia(88%) saturate(5901%) hue-rotate(348deg)
    brightness(88%) contrast(93%);
}

@media only screen and (max-width: 550px) {
  header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "logo button"
      "menu menu";
  }

  header .img {
    grid-area: logo;
    width: 50%;
    margin-right: 50%;
  }

  .searchBtn {
    grid-area: button;
    width: 50%;
    margin-left: 49%;
  }

  .navbar {
    grid-area: menu;
  }
}

/* Author Section */

.author {
  text-align: center;
  padding: 10px 0;
}

.author h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.author p {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}

/* Image Section */

.mainImg {
  max-width: 650px;
  margin: auto;
}

/* Articles Section */

.articles {
  max-width: 650px;
  margin: auto;
}

.articles h2 {
  margin-top: 2rem;
}

.article-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
}

.article-ul a {
  padding: 15px 0;
  border-bottom: 2px solid var(--line-color);
}

.article-ul a li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-ul .date {
  font-size: 1rem;
  color: var(--secondary-text-color);
}

.pagination_container {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.pagination {
  margin: 1.5rem 0;
  font-size: 1.3rem;
  color: var(--light-red);
}

.pagination:hover {
  color: var(--secondary-text-color);
}

/* Footer */

footer {
  margin: 3rem auto;
  text-align: center;
  color: var(--secondary-text-color);
}

/* Search Bar */

.searchBar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary-text-color);
  height: 3rem;
  padding: 2rem 0;
  position: absolute;
  transform: scale(0.1) translateY(-500px);
  transition: all 0.5s;
  visibility: hidden;
  z-index: 3;
  border-radius: 7px;
}

.searchBar.active {
  transform: scale(1) translateX(10%);
  visibility: visible;
}

.searchForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchInput {
  border: none;
  background-color: var(--background-color);
  font-size: 1.5rem;
  padding: 13px;
  width: 70%;
  outline: none;
  border-radius: 7px;
}

#closeBtn {
  font-size: 1.2rem;
  background-color: var(--primary-text-color);
  border: none;
  color: var(--background-color);
  padding: 10px;
  cursor: pointer;
}

/* About */

.about {
  width: 78%;
  margin: 10px auto;
  padding: 20px;
}

.about h2 {
  margin-bottom: 20px;
}

.about p {
  margin-bottom: 20px;
}

.dev_profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.dev_profile img {
  height: 100px;
  width: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.dev_profile span {
  font-size: 1.5rem;
}

.about_developer a {
  color: var(--secondary-text-color);
}

/* Contact */

#contact_links h2 {
  margin-bottom: 20px;
}

/* Post/Article */

.post {
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
}

.post a:hover {
  color: var(--secondary-text-color);
}

.post > h2 {
  margin: 20px 0 10px 0;
  text-align: justify;
}

.post > p {
  font-weight: 700;
  margin: 10px 0 20px 0;
}

.post > article {
  text-align: justify;
}

/* Admin Header */

#admin-logo {
  font-size: 1.3rem;
  font-weight: 700;
}

/* Admin */

.main_admin {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

label {
  font-size: 1rem;
  font-weight: 600;
}

.login-input {
  width: 100%;
  margin: 5px 0;
  font-size: 1.2rem;
  padding: 5px;
  color: var(--primary-text-color);
  outline: none;
  border-radius: 7px;
  border: none;
}

.btn {
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--primary-text-color);
  color: var(--background-color);
  margin: 10px 0;
  border-radius: 7px;
  border: none;
}

.btn:active {
  transform: scale(0.98);
}

/* Dashboard */

.admin-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.admin-title > a {
  text-decoration: underline;
}

.admin-title > a:hover {
  color: var(--secondary-text-color);
}

.admin-posts {
  margin: 30px 0;
  list-style: none;
}

.admin-posts > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-posts > li > a {
  text-decoration: underline;
  font-size: 1.2rem;
}

.admin-post-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-post-controls > a {
  margin-right: 5px;
}

.admin-post-controls > form > input {
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 8px 5px;
}

/* Add Article */

label.mar {
  font-size: 1.2rem;
}

.mar {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#charLimit {
  font-size: 1rem;
}

/* Edit Article */

.btn-delete {
  background-color: var(--secondary-text-color);
}

/* Logout */

#logout {
  width: fit-content;
  font-size: 1.4rem;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

#logout:hover {
  color: var(--secondary-text-color);
}

.activa {
  color: var(--secondary-text-color);
}
